<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "ar.com.contenta.videostreaming"
	version 	= "0.0.1">

	<name>Contenta VideoStreaming</name>

	<description>
		VideoStreaming
	</description>

	<author href="http://github.com/lfantone"
		email="lfantone@contentamobile.com">
		Luciano Fantone
	</author>

	<preference name="orientation" value="portrait" />
	<preference name="phonegap-version" value="1.9.0" />
	<preference name="fullscreen" value="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-maxSdkVersion" value="15" />
	

	<icon src="icon.png" gap:role="default" />

    	<gap:splash src="default.png" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<access origin="*" />
</widget>
